body {
    background:#000 !important;
}
.background {
    background-image:url(../images/intro2node/nodebackground_cubes.jpg);
    width:1528px;
    height:800px;
    background-repeat:no-repeat;

}
.step {
    color:white;
}
#nodeDesc {
    color:white;
}

#huh {
    color:red;
}

.redfont {
    color:red;
}

.whitefont {
    color:white;
}

.blackfont {
    color:black;
}

.bluefont {
    color:blue;
}

.invisible {
    opacity:0 !important;
}

.visible {
    opacity:1 !important;
}

pre {
    font-size: 75%;
    padding: 50px;
    width: 900px;
    border: 1px grey solid;
    background-color: black;
    color: aqua;
    position:relative;
    left:-100px;
}

.small {
    font-size:10px;
}
