body {
      background:#00408d !important;
    }
    .background {
      background-image:url(../images/nortonecommerce2/background.png);
      width:800px;
      height:600px;
      background-repeat:no-repeat;
    }
    .block {
      font-size:26px;
    }
    .active {
      color:white;
    }
    .past {
      color:white;
    }
    .future {
     /*visibility:hidden;*/
     color:white;
    }
    ul, li {
      list-style:square;
    }
    .itallic {
      font-style:italic;
      font-size:20px;
      color:yellow;
    }
    strong{
      color:#00bfff;
    }