/*
 * Common CSS for CLPs
 */

.clp #mainBody #mainContent {
    margin: 0;
}

.clp #mainBody, .clp #shortBody {
    text-align: left;
}

.clp body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: left;
}

.clp
{
    background-size: 100% 100%;
}

.clp .user .signin {
    margin-top: 55px;
}

*:first-child+html .clp .user .signin {
    margin-top: 0;
}

.clp #headerPane {
    padding: 0px;
}
.clp #closeDiv{
    background-color: #FFCC00;
    border-radius: 10px;
    font-weight: bold;
    height: 17px;
    padding-top: 3px;
    width: 20px;
    float: right;
}
.clp #closeDiv a{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
}
.clp .legalDisclaimer {
    color: #959595;
    font-size: 10px;
}
/* Fix for SITE-15279 */
.clp select.currencySelect {
    float: none;
}

.clp .divSolidWhiteBack
{
    padding-bottom: 0px;
    margin: 10px 0 0 0;
    width:100%;
    float:left;
}

.clpOptionRCTableHeaderWrapper {
    margin: 10px 20px 5px 35px;
}

.clp .rightPositioning {
    display: inline;
    float: right;
}

.clp .rcCountrySelector {
    margin: 0 20px 0 0;
    float: right;
}

.clp .logoFloat
{
    float: left;
    width: 98px;
}

.clp .countryFloat
{
    font-size: 11px;
    color: #999999;
    float: left;
    padding: 30px 0 0 10px;
}

.clp .symLogo
{
    width: 98px;
    float: left;
    margin: 15px 0 10px 0;
    padding-left: 0;
}

.clp .symUtil
{
    float: left;
    color: #666;
    margin: 24px 0 0 0;
    width: 700px;
    display:none;
}

.clp .symUtilRgt
{
    float: right;
    padding-right: 10px;
}

.clp .divHeader
{
    margin: 20px 0 0 0;
}

.clp .expiryMessage
{
    color: #555;
    font-size:14px;
}

.clp .expiryDate
{
    color: #E90101;
}

/* Make the Help modal popup appear to the left of the "Help" menu */
.clp .sym_interstitial {
    left: 680px !important;
}

/*Styles to Trick for D1V1 Checkmarks */
.clp .divCheckmark_Y {
    background: transparent url(//buy-static.norton.com/estore/images/master/misc/check.png) no-repeat 0 0;
    width: 12px;
    height: 13px;
    display: inline-block;
}

.clp .divCheckmark_N {
    width: 12px;
    height: 13px;
    display: inline-block;
}

/*Styles to Trick for D7V2 Bullets */
.clp .divBullet_Y {
    background: transparent url(/ImpressPresentations/images/scMeetup/beforeImages/1stR_compare_bullet_8x8.gif) no-repeat 0 0;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.clp .divBullet_N {
    width: 8px;
    height: 8px;
    display: inline-block;
}
/* Common fix for Footer - All countries */
.clp .footer span { margin-left:5px !important; }
.clp .user .signin, .clp .user .signout { margin-right:0 !important; }


/*************************************************************************************************/
/* 52FRAMEWORK CLASSES BEGIN */
/*************************************************************************************************/


.clp .shadow {	text-shadow:1px 1px 1px #666;
}/*<-- edit the color you wish to use in your shadows */

.clp .shadow_multiple {text-shadow: -2px -2px 0px #1fd31f,
2px 2px 0px #1f9ad3;
}

.clp .box_shadow {
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
}

.clp .rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
}


.clp .greygradient{
    background: -moz-linear-gradient(center top , #EFEFEF 13%, #FFFFFF 45%) repeat scroll 0 0 #EEEEEE;

}

.clp .col {
    margin-left:10px; margin-right:10px;
    display: inline;
    overflow: hidden;
    float: left;
    position: relative;
}

.clp .row{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.clp .row .row {
    margin: 0 -10px;
    width: auto;
    display: inline-block;
}

/* Column widths, and element width based on the 960 grid system*/
/*16 cols by 40px, with a 20px gutter*/
/*First make a row and then put col(s) inside rows*/

.clp .col_1, .clp .width_1	 {	width:40px;	 }
.clp .col_2, .clp .width_2 	 {	width:100px; }
.clp .col_3, .clp .width_3 	 {	width:160px; }
.clp .col_4, .clp .width_4 	 {	width:220px; }
.clp .col_5, .clp .width_5	 {	width:280px; }
.clp .col_6, .clp .width_6	 {	width:340px; }
.clp .col_7, .clp .width_7	 {	width:400px; }
.clp .col_8,  .clp .width_8	 {	width:460px; }
.clp .col_9,  .clp .width_9 	 {	width:520px; }
.clp .col_10, .clp .width_10	 {	width:580px; }
.clp .col_11, .clp .width_11	 {	width:640px; }
.clp .col_12, .clp .width_12	 {	width:700px; }
.clp .col_13, .clp .width_13	 {	width:760px; }
.clp .col_14, .clp .width_14	 {	width:820px; }
.clp .col_15, .clp .width_15	 {	width:880px; }
.clp .col_16, .clp .width_16	 {	width:940px; }

/* ** ** Common Addative Classes ** ** */
.clp .left, .clp .float_left  { float:left	}
.clp .right, .clp .float_right { float:right	}
.clp .clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.clp .clear-left, .clp .clear_left { clear:left; } .clp .clear-right, .clp .clear_right { clear:right; }
.clp .hide  { display:none	} .clp .block {display:block !important;} .clp .inline {display:inline !important;}
.clp .show {
    display: block;
}

.clp .align_right    { text-align:right;	  }
.clp .align_left     { text-align:left;	  }
.clp .align_center   { text-align:center;  }
.clp .align_justify  { text-align:justify; }

/*************************************************************************************************/
/* 52 FRAMEWORK CLASSES END */
/*************************************************************************************************/
/* Generic Fix for the Header Sing In/Sign Out links */
.clp .headerTopPanel .user { width:auto; margin:0; float:right !important; }
.clp .headerTopPanel .user span { width:auto; margin:45px 0 0 0; float:right !important; }
.clp .headerTopPanel .seperator { padding:0 5px !important; }

/* SPARK-14068 */
.clp .divFaqQ{width:270px !important}


/*************************************************************************************************/
/* Buttons */
/*************************************************************************************************/
.clp a.yellowButton {
    display:block;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    padding:6px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    color:#333333 !important;
    font-size:16px;
    font-weight:bold;
    -moz-box-shadow:inset 0px -12px 2px 0px #ffd208;
    -webkit-box-shadow:inset 0px -12px 2px 0px #ffd208;
    box-shadow:inset 0px -12px 2px 0px #ffd208;
    background: #fff5bc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjViYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZmZjZjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2ZmZWM4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #fff5bc 0%, #fff6c9 73%, #ffec84 78%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff5bc), color-stop(73%,#fff6c9), color-stop(78%,#ffec84)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff5bc 0%,#fff6c9 73%,#ffec84 78%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff5bc 0%,#fff6c9 73%,#ffec84 78%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff5bc 0%,#fff6c9 73%,#ffec84 78%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff5bc 0%,#fff6c9 73%,#ffec84 78%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5bc', endColorstr='#ffec84',GradientType=0 ); /* IE6-8 */
    border:2px solid #fec83e;
}

.clp a.yellowButton:hover {
    text-decoration:none;
    -moz-box-shadow:inset 0px -12px 2px 0px #f7e22a;
    -webkit-box-shadow:inset 0px -12px 2px 0px #f7e22a;
    box-shadow:inset 0px -12px 2px 0px #f7e22a;
    background: #fff8d3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjhkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZmZjZjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2ZmZWM4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #fff8d3 0%, #fff6c9 73%, #ffec84 78%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8d3), color-stop(73%,#fff6c9), color-stop(78%,#ffec84)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff8d3 0%,#fff6c9 73%,#ffec84 78%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff8d3 0%,#fff6c9 73%,#ffec84 78%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff8d3 0%,#fff6c9 73%,#ffec84 78%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff8d3 0%,#fff6c9 73%,#ffec84 78%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8d3', endColorstr='#ffec84',GradientType=0 ); /* IE6-8 */
    border:2px solid #f7e22a;
}